<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat Service</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
  </head>
  <body>
    <div class="header">
      <div class="header-buttons">
        <button
          id="login-button"
          hx-get="/login"
          hx-target="#main-content"
          hx-swap="innerHTML"
        >
          Login
        </button>
        <button
          id="logout-button"
          hx-get="/logout"
          hx-target="#main-content"
          hx-swap="innerHTML"
        >
          Logout
        </button>
      </div>
      <div class="chat-buttons">
        <button
          id="join-chat-button"
          hx-get="/chats/:id"
          hx-target="#main-content"
          hx-swap="innerHTML"
        >
          Join Chat
        </button>
        <button
          id="join-global-chat-button"
          hx-get="/chats"
          hx-target="#main-content"
          hx-swap="innerHTML"
        >
          Join Global Chat
        </button>
        <button
          id="create-chat-button"
          hx-post="/chats"
          hx-target="#main-content"
          hx-swap="innerHTML"
        >
          Create Chat
        </button>
      </div>
    </div>
    <div id="main-content" class="main-content">
      <!-- Main content will be loaded here -->
    </div>
  </body>
</html>
